@media only screen and (min-width:700px) {
   header, main, footer {
    max-width: 700px;
    margin: 0 auto;
   } 
   header {
      display: flex;
   }
   .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      
   }
   #big {
      max-width: 700px;
   }
   .hero {
      grid-column: 1/3;
      grid-row: 1/2;
      padding: 5px;
   }
   .navigation li {
     display: inline-block;
      flex: 1 1 100%;
      padding: 50px;
  
  }
  .navigation li a {
      display: block;
      text-align: center;
      text-decoration: none;
      color: white;
  }
  .navigation li a:hover {
      background-color: #B2DB3F;
  }
  .navigation.responsive li {
      display: block;
      width: 100%;
  }
  .navigation.responsive li a {
      display: block;
  }
  #btn {
      display: none;
      list-style: none;
      position: absolute;
      top: 8px;
      right: 8px;
      font-size: medium;
      padding: .5rem;
  }

   .weather {
      grid-column: 1/2;
      grid-row: 2/4;
      padding: 5px;
   }
   .promotions {
      grid-column: 2/3;
      grid-row: 2/4;
      
   }
}