@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Dosis:wght@300&display=swap');
*{
    margin: 5px;
}
header, main, footer {
    max-width: 400px;
    margin: 0 auto;
}
header {
    font-family:'Barlow';
    color: white;
    padding:5px;
    background-color:#001011 ;
    

}
#body {
    color: white;
    background-color: black;
}
#location{
    color: white;
}
.navigation li {
    display: none;
    flex: 1 1 100%;

}
.navigation li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
}
.navigation li a:hover {
    background-color: #B2DB3F;
}
.navigation.responsive li {
    display: block;
    width: 100%;
}
.navigation.responsive li a {
    display: block;
}
.logo {
    display: inline-flex;
   
    
}
#heading {
    
    color: aqua;
}
#btn {
    list-style: none;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: medium;
    padding: .5rem;
}
main{
    font-family:'Dosis';
    font-weight: 500;
    font-size: medium;
    background-color:#B2DB3F ;
}
.primary {
    background-color: #001011;
    color: white;
}
.secondary {
    background-color: #FFFFFC;
    color:#001011;
}
.accent1 {
    background-color: #B2DB3F;
}
.accent2 {
    background-color: white;
}
.sitemap > div {
    text-align: center;
}
.msg-home {
    grid-area: home;
    background-color: #001011;
    color: white;
}
.msg-page1 {
    grid-area: page1;
    background-color: #001011;
    color: white;

}
.msg-page2 {
    grid-area: page2;
    background-color: #001011;
    color: white;
}
.top {
    grid-area: top;
}
.left {
    grid-area: left;
}
.right {
    grid-area: right;
}

footer{
    background-color: black;
    padding: 8px;
    color: white;
    display: block;
}
.container img {
    max-width: 320px;
}

.hero {
    border: 1px solid #eee;
    grid-row: 2/4;
    padding: 5px;
}
.weather {
    border: 1px solid #eee;
    grid-row: 3/4;
    padding: 5px;

}
.promotions {
    border: 1px solid #eee;
    grid-row: 3/3;
    padding: 5px;
}
.form {
    max-width: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
form li + li {
margin: 1em ;
}
input, textarea {
font-weight: 600;
}
label {
font-weight: bolder;
}
.contact-information {
margin-bottom: 10px;
}
.contact-info {
    font-weight: bold;
    text-align: center;
  
}
#desc {
    font-weight: bolder;
    text-decoration: underline;
}
#weather-card, #info, #area {
    border-style: groove;
   
}
.container {
    border-radius: 20px;
}
#time {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: #B2DB3F;
    border-radius: 20px;
    color: #001011;
    text-align: center;
}
#weather-card {
    padding: 5px;
}
.welcome {
    font-size: medium;

}
.learn {
    border-radius: 40px;
}