body {
    font-size: 16px;
    font-family: Robboto;
}
header, main, footer {
    margin: 1rem;
    position: relative;
}
h1 {
    color: brown;
    border-bottom: 1px solid #fff;
    width: 60px;
}h2 {
    color: blue;
    margin: 0 0 1rem;
    border-bottom: 1px solid #eee;
}