h1{
    font-family: Roboto;
    background-color: blue;
    grid-template-columns: 2;
    
}
body{
    grid-template-rows: 1fr, 1fr, 1fr;
}
h2, h3{
    background-color: aquamarine;
    width: 198px;
}
main{
    font-size: medium;
    font-style: italic;
}
img{
    background-color: black;
    width: 198px;
}
p{
    
    width: 198px; ;
}
footer{
    font-style: italic;
    background-color: blue;
    color: white;
}
a{
    width: 198px;
}