h1{
    font-family: Roboto;
    background-color: blue;
    grid-template-columns: 2;
}
h2{
    background-color: aquamarine;
}
main{
    font-size: medium;
    font-style: italic;
}
img{
    background-color: black;
    width: 98px;
}
p{
    background-color: blueviolet;
    width: 98px; ;
}
footer{
    font-style: italic;
    background-color: blue;
    color: white;
}