h1{
    font-family: Roboto;
    background-color: blue;
    grid-template-columns: 2;
    
}
#div1{
    grid-area: 1/3;
}
#div2{
    grid-area: 2/3;
}
#div3{
    grid-area: 3/3;
}
h2, h3{
    background-color: aquamarine;
    width: 198px;
}
main{
    font-size: medium;
    font-style: italic;
}
img{
    background-color: black;
    width: 198px;
}
p{
    
    width: 198px; ;
}
footer{
    font-style: italic;
    background-color: blue;
    color: white;
}
a{
    width: 198px;
}