@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rock+Salt&display=swap');
:root{
    --primary-color:#150578;
    --secondary-color:#1CCAD8;
    --accent1-color:#2f97c1;
    --accent2-color:white;
}

header{
    background-color: blue;
    display: flex;
    font-family: Rock Salt;
    
}

.logo {
    width: 100px;
    padding-bottom: 35px;
}
nav {
    display: flex;
    justify-content: space-around;
    
}
p {
    font-family: Roboto;
}
a {
    color: white;
}
h2 {
    background-color: aqua;
}
h1 {
    color: white;
}
footer {
    background-color: blue;
    color: white;
}
img {
    justify-content: left;
}