html {
    font-family: 'Lucida Sans';
}
body {
    justify-content: center;
}
table {
    border: 2px solid rgb(200, 200, 200);

}
td {
    padding: 10px 20px;
    text-align: center;
}
tr:nth-child(even) td {
    background-color: brown;
}
tr:nth-child(odd) td {
    background-color: blue;
}
caption {
    padding: 10px;
    background-color: blue;
}
thead {
    font-style: italic;
    color: white;
}
tbody {
    font-style: normal;
}
.checkmark {
    display: inline-block;
}