header{
    display: flex;
    background-color: #151578;
    color:white;
    text-align: center;
}
footer{
    display: flex;
    border: 1px;
    margin: auto;
    background-color: #151578;
    color: white;

}
#social{
    justify-content: center;
}
li a {
    display: block;
    background-color: brown;
    padding: 9px;
    margin: 5px;
    border: 2px;
}
nav ul li{
    
    text-align: justify;
    list-style-type: none;

}
ul  li a {
    color: white;
    text-decoration: none;
}
nav ul{

    margin:.2rem 2vw ;
    background-color: #151578;
    border-top: none;
    color: white;
    font-size: 2rem;
}
nav ul.open{
    display :block;

}
#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display:none ;}
#hamburgerBtn.open span:nth-child(2) {display: block;}