@media only screen and (min-width:64rem){
header{
    padding: 40px 20px;
}

header, footer{
    max-width: 100%;

}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#hamButton {
    display: none;
}
.navigation {
    flex-direction: row;
}
.navigation li {
    display: block;
    flex: 1 1 auto;
}
}

